@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?mfmegt');
  src:  url('fonts/icons.eot?mfmegt#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?mfmegt') format('truetype'),
    url('fonts/icons.woff?mfmegt') format('woff'),
    url('fonts/icons.svg?mfmegt#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eye:before {
  content: "\e90f";
}
.icon-star-rounded:before {
  content: "\e90e";
}
.icon-lock:before {
  content: "\e910";
}
.icon-cart:before {
  content: "\e911";
}
.icon-verify:before {
  content: "\e912";
}
.icon-star:before {
  content: "\e90d";
}
.icon-arrow:before {
  content: "\e900";
}
.icon-check:before {
  content: "\e901";
}
.icon-close:before {
  content: "\e902";
}
.icon-down:before {
  content: "\e903";
}
.icon-globe:before {
  content: "\e904";
}
.icon-location:before {
  content: "\e905";
}
.icon-mail:before {
  content: "\e906";
}
.icon-note:before {
  content: "\e907";
}
.icon-phone:before {
  content: "\e908";
}
.icon-play:before {
  content: "\e909";
}
.icon-telegram:before {
  content: "\e90a";
}
.icon-whatsapp:before {
  content: "\e90b";
}
.icon-clock:before {
  content: "\e90c";
}
