// Использование модулей SASS
@use "sass:math";
// Использование модулей SASS
// ======================================МИКСИНЫ==============================================
@import "mixins";
// ======================================МИКСИНЫ==============================================

// ======================================ШРИФТЫ===============================================

// &display=swap&subset=cyrillic-ext
@import "fonts";

// ======================================ШРИФТЫ===============================================
// ======================================ИКОНОЧНЫЙ ШРИФТ======================================
@import "icons";
// ======================================ИКОНОЧНЫЙ ШРИФТ======================================

// Шрифт по умолчанию
$fontfamily: "Gilroy";
// Шрифт по умолчанию

// ПЕРЕМЕННЫЕ
$minWidth: 320; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина макета
$maxWidthContainer: 1360; // Максимальная ширина ограничивающего контейнера
$containerPadding: 30;

$md0: 1599.98px;
$md1: 1399.98px;
$md2: 1199.98px;
$md3: 991.98px;
$md4: 767.98px;
$md5: 575.98px;
$md6: 359.98px;

$mainColor: #232c32;
$green: #c2e23f;
$hover: #2020ff;

// ПЕРЕМЕННЫЕ

//ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ
body {
	font-family: $fontfamily, sans-serif;
	color: $mainColor;
	&.lock,
	&.modal-lock {
		overflow: hidden;
	}
}
// ==================ОБОЛОЧКА==============================
.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

//================== ОБОЛОЧКА==================================

//=============== ОСНОВНАЯ СЕТКА===============================

// Отзывчивая
[class*="__container"] {
	margin: 0 auto;
	max-width: $maxWidthContainer + px;
	box-sizing: content-box;
	padding: 0 em(16);
	@media (min-width: $md5) {
		padding: 0 em(24);
	}
}

//=============== ОСНОВНАЯ СЕТКА===============================

//=================Подключаем файлы стилей
//================Общий файл для элементов страницы
@import "ui";
@import "forms";
//================Общий файл для элементов страницы
@import "header";
@import "footer";
//=======================================

// =======================ОСНОВНОЙ БЛОК==================
.page {
	flex: 1 1 auto;
}
// =======================ОСНОВНОЙ БЛОК===================

@import "pages/home";
@import "pages/contacts";
@import "pages/category";
@import "pages/about";
@import "pages/info";
@import "pages/error";
@import "pages/privacy";
